@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --bg-color: #000;
    --text-light-color: #ffffff;
    --text-dark-color: #2b2b2b;
    --white: #ffffff;
    --netflix-red: #E50914;
}

*{
    box-sizing: border-box;
    margin: 0;  
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body{
    background-color: var(--bg-color)!important;
}
/* navigation */

.logo-and-bttn{
    margin: 25px;
    display: flex;
    justify-content: space-between;
}

.logo-bttn{
    background-color: var(--netflix-red);
    color: var(--white);
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 16px;
}

/* main section on landing page with content  */
.main-section{
    background-color: var(--bg-color);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/Images/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    padding: 20px;
    height: 100vh;
}

.main-content{
    padding: 40px;
}

.main-h1{
    font-size: 50px;
    color: var(--text-light-color);
    font-weight: 800;
}
.main-h2{
    margin-top: 10px;
    font-size: 26px;
    color: var(--text-light-color);
    font-weight: 400;
}
.main-h3{
    margin-top: 10px;
    font-size: 18px;
    color: var(--text-light-color); 
} 

.bttn-input{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.main-input{
    margin:0;
    /* height: 55px; */
    width: 400px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 2px 0 0 2px;
    background-color: var(--white);
    text-align: left;
}
.sub-button{
    background-color: var(--netflix-red);
    color: var(--white);
    border: none;
    border-radius: 0 2px 2px 0px;
    padding: 10px 25px;
    font-size: 16px;
    margin-top: 15px;
}
 span{
    background-color: var(--netflix-red);
    margin-left: 4px;
 }
.divider{
    height: 3px;
    width: 100vw;
    background-color: var(--text-dark-color);
}

/* section number 2 */
.content-div{
    padding: 25x;
}

/* photos */
.image-showcase{
    width: 400px;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 45px;
}

.watch-section{
    text-align: left !important;
}

.FAQ-section{
    margin: 25px;
    padding: 25px;
}
.accordion{
    margin-top: 15px;
    color: var(--text-light-color)!important;
    border: none !important;
}
.accordion-button{
    color: var(--text-light-color)!important;
    background-color: var(--text-dark-color)!important;
    border: none !important;
}
.accordion-body{
    text-align: left!important;
    border: none !important;
    border: none !important;
}
.accordion-item{
    background-color: var(--text-dark-color)!important;
    color: var(--text-light-color)!important;
    /* text-align: left!important; */
    margin-top: 10px;
    border: none !important;
    
}
.accordion-header{
    background-color: var(--text-dark-color)!important;
}

/* footer section */
.footer-section {
    padding: auto;
    margin: 25px;
    padding: 25px;
}

.footer-text{
    color:var(--text-dark-color);
    text-align: none;
}

/* login page  */
.login-section {
    height: 100vh;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}
.login-form{
    padding: 25px 45px;
    width: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    border-radius: 10px;
}

.form-header{
    margin: 10px;
    text-align: left;
}
.login-input{
    width: 100%;
    margin:10px;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}

.login-bttn{
    background-color: var(--netflix-red);
    color:var(--text-light-color);
    border: none;
    margin: 5px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

#error{
    text-align: left;
    color: var(--netflix-red);
}

.sign-in-check{
  text-align: left;
  margin:10px;
}

.sign-in-form-text{
    margin-top: 50px;
    text-align: left;
}

p{
    font-size: 14px;
}

/* 404 */
.page-n-f{
    font-size: 80px;
    color: var(--netflix-red);
    text-align: center;
}

/* responsiveness */
@media (max-width: 767px) {
    .main-section{
        height: 100vh;
    }
    .logo-and-bttn{
    margin: 15px;
}

/* main section on landing page with content  */

.main-content{
    padding: 10px;
}

.main-h1{
    font-size: 30px;
}
.main-h2{
    font-size: 16px;
}
.main-h3{
    font-size: 12px;
} 

.bttn-input{
    flex-direction: column;
    align-items: center;
}

.main-input{
    width: 300px;
}
.sub-button{
    padding: 10px 15px;
    font-size: 14px;
}

/* section number 2 */
.content-div{
    padding: 15x;
}

/* photos */
.image-showcase{
    width: 350px;
}

.section{
    flex-direction: column-reverse;
}

.content-div{
    margin: 10px;
}

/* footer section */
.footer-section {
    padding: auto;
}

.footer-text{
    color:var(--text-dark-color);
}
    
}

