/* home page styling */

.hero-home{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/Images/Title-Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    height: 100vh;
}
.home-nav{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    margin: 25px;
    cursor: pointer;
}

.nav-right{
    display: flex;
    flex-direction: row;
}
.nav-left{
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
}

li{
  margin-left: 25px;
}